fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlmodel==0.0.24
pyjwt==2.10.1
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.20
pydantic-settings==2.9.1
email-validator==2.2.0
yfinance==0.2.61
pdfplumber==0.11.6
google-genai==1.14.0
httpx==0.28.1
pywebview==5.4
pyinstaller==6.22.3
feedparser==6.0.14
pandas-ta==0.4.71b0
